body {
    background-color: #16A2B8;
  }
  
img {
    width: 20%;
}

h1{
    font-family: 'Rock Salt', cursive;
    color: #FDD44A;
    font-weight: 400;
    margin-bottom: 30px;
}
  
.fontStyle {
    color: #FDD44A;
    font-weight: 400;
    font-size: 25px;
   
}

#submit-button{
    margin-bottom: 30px;
}

footer{
    margin-bottom: 40px;
}